<div class="container">
    <div class="row">
        <h2 class="title-heading">Food Articles</h2>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img8.jpg" alt="blog1" />
            <h3>Modern Food Habits in the 21st Century</h3>
            <p>by <span>Gauri Khan</span></p>
            <p>In the 21st century, our food habits have undergone a significant transformation. The fast-paced, digital era has brought about a shift in the way we grow, prepare, and consume food. Convenience, technology, and health consciousness have become...</p>
            <a href="/articles/8" class="btn btn-primary">Read more...</a>
          </div>
        </div>
    </div>
