
    <div class="container">
      <div class="row">
        <h2 class="title-heading">History and Culture Articles</h2>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img1.jpg" alt="blog1" />
            <h3>
              Breaking the Chains: Challenging Patriarchy in the 21st Century
            </h3>
            <p>by <span>Shreya Kaur</span></p>
            <p>
              Patriarchy, a deeply ingrained social system where power and
              authority are predominantly held by men, has persisted for
              centuries. While significant strides have been made towards gender
              equality, the vestiges of patriarchy still loom large in our
              society. This multifaceted...
            </p>
            <a href="/articles/1" class="btn btn-primary"
              >Read more...</a
            >
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img4.jpg" alt="post2" />
            <h3>Ancient Indian Fashion: Elegance Through the Ages</h3>
            <p>by <span>Kusum Iyengar</span></p>
            <p>
              Ancient Indian fashion stands as a testament to the rich cultural
              heritage and artistic sensibilities that have thrived on the
              Indian subcontinent for millennia. Across different periods and
              regions, Indian clothing has embodied both opulence...
            </p>
            <a href="/articles/4" class="btn btn-primary">Read more...</a>
          </div>
        </div>
      </div>
