<section class="blog-detail mtb-40">
  <div *ngIf="router.url=='/articles/1'">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog-left">
            <h1>Breaking the Chains: Challenging Patriarchy in the 21st Century</h1>
            <div class="posted-on">
                <p>written by: <span>Shreya Kaur</span></p>
                <p>posted-on: <span>September 10, 2023</span></p>
                <p>Category: <span>History and Culture</span></p>
            </div>
            <div class="detail-img">
               <img src="assets/images/img1.jpg" alt="blog1">
            </div>
            <div class="blog-desc">
              <p>Patriarchy, a deeply ingrained social system where power and authority are predominantly held by men, has persisted for centuries. While significant strides have been made towards gender equality, the vestiges of patriarchy still loom large in our society. This multifaceted issue affects individuals across the globe and impacts various aspects of life, from politics to the workplace and personal relationships.</p>
 
               <p>One of the most insidious aspects of patriarchy is its perpetuation of gender stereotypes. It prescribes rigid roles for men and women, limiting their choices and opportunities. Men are expected to be strong, stoic, and dominant, while women are often seen as nurturing, submissive, and emotional. These stereotypes not only reinforce inequality but also harm individuals who do not conform to them.</p>
               
               <p>Patriarchy also manifests in the gender pay gap, with women earning less than men for the same work. Moreover, it plays a role in gender-based violence and discrimination, as well as the underrepresentation of women in leadership positions.</p>
               
               <p>Breaking free from patriarchy requires collective effort. It entails dismantling harmful stereotypes, advocating for equal pay, and supporting policies that promote gender equity. It also means challenging the status quo and promoting inclusivity in all aspects of life.</p>
               
               <p>In the 21st century, we have the tools and knowledge to challenge and deconstruct patriarchy. By working together, we can create a more equitable and just society for all, where individuals are not confined by their gender but empowered by their abilities and aspirations. It's time to break the chains of patriarchy and pave the way for a brighter, more equal future.</p>
            
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
            <app-featured-articles></app-featured-articles>
            <app-categories></app-categories>
        </div>
      </div>
    </div>
  </div>



    <div *ngIf="router.url=='/articles/2'">
    <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="blog-left">
              <h1>The Evolution of Pop Music in India</h1>
              <div class="posted-on">
                  <p>written by: <span>Mahesh Khundra</span></p>
                  <p>posted-on: <span>September 10, 2023</span></p>
                  <p>Category: <span>Music</span></p>
              </div>
              <div class="detail-img">
                 <img src="assets/images/img2.jpg" alt="blog1">
              </div>
              <div class="blog-desc">
                <p>Pop music in India has undergone a remarkable transformation over the years, reflecting the nation's diverse cultural tapestry and changing tastes. What was once dominated by Bollywood melodies and classical compositions has now embraced a contemporary sound that appeals to a global audience.</p>
                 
                <p>In the early years, pop music in India primarily revolved around film songs, with iconic playback singers like Kishore Kumar and Lata Mangeshkar setting the standard. However, as India opened up to the world in the late 20th century, influences from Western pop and rock genres started to seep into the Indian music scene</p>
                 
                <p>In the 21st century, pop music in India has exploded with an array of independent artists and bands experimenting with diverse styles, from hip-hop and rap to EDM and indie pop. Social media and streaming platforms have played a significant role in promoting this newfound diversity, giving voice to countless independent musicians.</p>
                 
                 <p>Today, India's pop music scene is more vibrant and eclectic than ever, with artists like Badshah, Neha Kakkar, and Arijit Singh achieving international recognition. Pop music in India has become a powerful cultural export, bridging the gap between tradition and modernity, and uniting people across generations with its catchy tunes and meaningful lyrics.</p>              
              </div>
            </div>
          </div>
          <div class="col-md-4">
              <app-featured-articles></app-featured-articles>
              <app-categories></app-categories>
          </div>
        </div>
      </div>
    </div>
  
 
    <div *ngIf="router.url=='/articles/3'">
      <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="blog-left">
                <h1>The AI Takeover Debate: Separating Fact from Fiction</h1>
                <div class="posted-on">
                    <p>written by: <span>Gauri Khan</span></p>
                    <p>posted-on: <span>September 10, 2023</span></p>
                    <p>Category: <span>Technology</span></p>
                </div>
                <div class="detail-img">
                   <img src="assets/images/img3.jpg" alt="blog1">
                </div>
                <div class="blog-desc">
                  <p>The notion of artificial intelligence (AI) taking over the world is a topic that has intrigued, and sometimes frightened, people for decades. While science fiction has often portrayed a dystopian future where AI rules with an iron fist, the reality is far more nuanced.</p>
                   
                  <p>AI, in its current state, is a tool created and controlled by humans. It lacks consciousness, emotions, and motivations of its own. It operates based on algorithms and data, performing tasks it has been programmed for. AI systems excel at narrow tasks like image recognition, language translation, and data analysis, but they lack the broader understanding and reasoning capabilities of humans.</p>
                   
                  <p>Furthermore, ethical considerations and regulatory frameworks are being developed to ensure that AI is used responsibly and safely. AI's potential benefits, from improving healthcare to mitigating climate change, are also significant.</p>
                  
                  <p>In conclusion, while it's crucial to monitor AI's development and address ethical concerns, the idea of AI taking over the world remains speculative. The focus should be on responsible AI development and its potential to enhance human capabilities rather than supplant them. AI's future impact on society will ultimately be shaped by the choices we make as its creators and stewards.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
                <app-featured-articles></app-featured-articles>
                <app-categories></app-categories>
            </div>
          </div>
        </div>
      </div>
    
   
      <div *ngIf="router.url=='/articles/4'">
        <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="blog-left">
                  <h1>Ancient Indian Fashion: Elegance Through the Ages</h1>
                  <div class="posted-on">
                      <p>written by: <span>Kusum Iyengar</span></p>
                      <p>posted-on: <span>September 4, 2023</span></p>
                      <p>Category: <span>History and Culture</span></p>
                  </div>
                  <div class="detail-img">
                     <img src="assets/images/img4.jpg" alt="blog1">
                  </div>
                  <div class="blog-desc">
                    <p>Ancient Indian fashion stands as a testament to the rich cultural heritage and artistic sensibilities that have thrived on the Indian subcontinent for millennia. Across different periods and regions, Indian clothing has embodied both opulence and simplicity, reflecting the diverse tapestry of Indian society.</p>
                    
                    <p>In ancient India, clothing was a reflection of one's status and social standing. The grandeur of the Mauryan and Gupta periods is evident in the intricate drapery and embellishments of garments, particularly for royalty and nobility. The use of fine silk, vibrant dyes, and precious gems was common.</p>
                     
                    <p>The Mughal era further enriched Indian fashion, introducing Persian and Central Asian influences. This period saw the rise of the iconic Mughal attire, with its flowing silhouettes, intricate embroidery, and luxurious fabrics like brocades and velvets</p>
                    
                    <p>Today, ancient Indian fashion continues to inspire contemporary designers worldwide. The fusion of traditional aesthetics with modern sensibilities has given rise to a vibrant and ever-evolving fashion scene. Ancient Indian fashion, with its enduring elegance and cultural significance, remains an integral part of India's identity and continues to shape the fashion landscape in the 21st century.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                  <app-featured-articles></app-featured-articles>
                  <app-categories></app-categories>
              </div>
            </div>
          </div>
        </div>
      
     
        <div *ngIf="router.url=='/articles/5'">
          <div class="container">
              <div class="row">
                <div class="col-md-8">
                  <div class="blog-left">
                    <h1>Prioritizing Mental Health Post-COVID: A Vital Imperative</h1>
                    <div class="posted-on">
                        <p>written by: <span>Raghav Srivastan</span></p>
                        <p>posted-on: <span>August 28, 2023</span></p>
                        <p>Category: <span>Health and Wellness</span></p>
                    </div>
                    <div class="detail-img">
                       <img src="assets/images/img5.jpg" alt="blog1">
                    </div>
                    <div class="blog-desc">
                      <p>The COVID-19 pandemic has left an indelible mark on the world, impacting not only physical health but also the mental well-being of millions. As we emerge from the pandemic's grip, the importance of mental health has never been more apparent.</p>
                      
                      <p>The psychological toll of the pandemic has been staggering. Isolation, fear, grief, and uncertainty have taken a toll on people's mental health. A surge in anxiety, depression, and stress-related disorders has been observed globally.</p>
                    
                      <p>Addressing mental health post-COVID is imperative for several reasons. First and foremost, it directly affects an individual's quality of life. Mental health plays a pivotal role in overall well-being, influencing relationships, work, and daily functioning.</p>
                    
                      <p>To navigate the post-COVID world successfully, we must invest in mental health support, reduce stigma, and promote mental well-being as a societal priority. As we rebuild our lives, let's remember that mental health is not a luxury but a fundamental aspect of human flourishing, deserving of our utmost attention and care.</p>
                    
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                    <app-featured-articles></app-featured-articles>
                    <app-categories></app-categories>
                </div>
              </div>
            </div>
          </div>
        

          <div *ngIf="router.url=='/articles/6'">
            <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <div class="blog-left">
                      <h1>The Power of Hobbies in Day-to-Day Life</h1>
                      <div class="posted-on">
                          <p>written by: <span>Gauri Khan</span></p>
                          <p>posted-on: <span>August 20, 2023</span></p>
                          <p>Category: <span>Health and Wellness</span></p>
                      </div>
                      <div class="detail-img">
                         <img src="assets/images/img6.jpg" alt="blog1">
                      </div>
                      <div class="blog-desc">
                        <p>Hobbies are not just pastimes; they are an essential component of a fulfilling life. In the hustle and bustle of our daily routines, hobbies offer a respite, bringing joy and balance to our lives.</p>
                        
                        <p>One of the most remarkable aspects of hobbies is their ability to cultivate creativity and relieve stress. Whether it's painting, writing, gardening, or playing a musical instrument, engaging in a hobby allows the mind to wander, problem-solve, and unwind. This creative outlet can lead to improved mental health, reduced anxiety, and increased happiness</p>
                         
                        <p>Moreover, hobbies provide a sense of accomplishment and purpose. The satisfaction of completing a challenging puzzle, knitting a scarf, or tending to a blooming garden bed is immeasurable. These small victories boost self-esteem and motivation, transcending into other areas of life.</p>

                        <p>Incorporating hobbies into our daily lives is a conscious choice to prioritize self-care and personal growth. They offer a break from the monotony of routine, provide a sense of accomplishment, and serve as a reminder that life should be about more than just work and responsibilities. So, whether you're rediscovering an old hobby or venturing into something entirely new, embrace the power of hobbies and witness the positive transformation they bring to your day-to-day life.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                      <app-featured-articles></app-featured-articles>
                      <app-categories></app-categories>
                  </div>
                </div>
              </div>
            </div>
          
         
            <div *ngIf="router.url=='/articles/7'">
              <div class="container">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="blog-left">
                        <h1>Legacy of Kabaddi in India</h1>
                        <div class="posted-on">
                            <p>written by: <span>Kusum Iyengar</span></p>
                            <p>posted-on: <span>August 20, 2023</span></p>
                            <p>Category: <span>Sports</span></p>
                        </div>
                        <div class="detail-img">
                           <img src="assets/images/img7.jpg" alt="blog1">
                        </div>
                        <div class="blog-desc">
                          <p>Kabaddi, a sport that traces its origins back to ancient India, has become an integral part of the country's sporting culture. With a history spanning several centuries, Kabaddi has not only survived but thrived, evolving from a traditional pastime into a globally recognized sport.</p>
                          
                          <p>Rooted in the heart of rural India, Kabaddi embodies the spirit of physical prowess, strategy, and teamwork. It's a contact sport where two teams, each comprising seven players, compete to score points by tagging or capturing opposing players while reciting the word "Kabaddi."</p>
                           
                          <p>The game's popularity transcends age, language, and cultural barriers. Pro Kabaddi League, launched in 2014, has played a pivotal role in modernizing the sport and introducing it to a wider audience. The league has drawn fans, sponsors, and star players, creating an electrifying atmosphere and putting Kabaddi on the global sports map.</p>
                          
                          <p>Kabaddi may have evolved over the centuries, but its essence remains deeply rooted in Indian culture. It's not just a sport; it's a legacy that celebrates the physical prowess and unwavering spirit of a nation that takes pride in its sporting traditions.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                        <app-featured-articles></app-featured-articles>
                        <app-categories></app-categories>
                    </div>
                  </div>
                </div>
              </div>
            
          
              <div *ngIf="router.url=='/articles/8'">
                <div class="container">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="blog-left">
                          <h1>Modern Food Habits in the 21st Century</h1>
                          <div class="posted-on">
                              <p>written by: <span>Gauri Khan</span></p>
                              <p>posted-on: <span>August 12, 2023</span></p>
                              <p>Category: <span>Food</span></p>
                          </div>
                          <div class="detail-img">
                             <img src="assets/images/img8.jpg" alt="blog1">
                          </div>
                          <div class="blog-desc">
                            <p>In the 21st century, our food habits have undergone a significant transformation. The fast-paced, digital era has brought about a shift in the way we grow, prepare, and consume food. Convenience, technology, and health consciousness have become key drivers of our dietary choices</p>
                            
                            <p>Convenience foods, often high in sugar and preservatives, are readily available, catering to our busy lifestyles. Meal delivery apps and online grocery shopping have made access to food easier than ever.</p>
                             
                            <p>Technology has also shaped our food habits through food tracking apps, smart kitchen appliances, and a wealth of online recipes. However, this digital age has brought concerns of over-reliance on processed foods and a decline in home-cooked meals.</p>
                            
                            <p>In summary, our food habits in the 21st century are marked by convenience, technology, and an increasing awareness of health and sustainability. Striking a balance between these factors is crucial for promoting a nutritious and sustainable diet.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                          <app-featured-articles></app-featured-articles>
                          <app-categories></app-categories>
                      </div>
                    </div>
                    </div>
                    </div>
      
                    <div *ngIf="router.url=='/articles/9'">
                      <div class="container">
                          <div class="row">
                            <div class="col-md-8">
                              <div class="blog-left">
                                <h1>Journey Beyond the Horizon: The Joys of Travel and Its Unforgettable Experiences</h1>
                                <div class="posted-on">
                                    <p>written by: <span>Raghav Srivastan</span></p>
                                    <p>posted-on: <span>August 12, 2023</span></p>
                                    <p>Category: <span>Travel</span></p>
                                </div>
                                <div class="detail-img">
                                   <img src="assets/images/img9.jpg" alt="blog1">
                                </div>
                                <div class="blog-desc">
                                  <p>Traveling is a wondrous adventure, a journey that unveils the world's treasures, cultures, and unforgettable experiences. Whether you wander near or far, every voyage offers a unique opportunity for self-discovery and growth.</p>
                                  
                                  <p>Travel opens doors to diverse landscapes and horizons. From the serene beaches of Bali to the bustling streets of Tokyo, each destination is a canvas waiting to be painted with your experiences. The world becomes a classroom, where history, art, and cuisine take center stage.</p>
                                   
                                  <p>Travel offers moments of challenge and triumph, taking you out of your comfort zone and into the realm of the extraordinary. It's about conquering fears, embracing change, and celebrating the beauty of diversity.</p>
                                  
                                  <p>In the end, traveling is not just about the places you visit, but the profound experiences you gather along the way. Each journey is a story waiting to be told, a memory waiting to be cherished, and a piece of your soul forever enriched. So, pack your bags, set forth, and let the world be your guide on the grand adventure of a lifetime.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                                <app-featured-articles></app-featured-articles>
                                <app-categories></app-categories>
                            </div>
                        </div>
                        </div>
                        </div>

                        
                          <div *ngIf="router.url=='/articles/10'">
                            <div class="container">
                                <div class="row">
                                  <div class="col-md-8">
                                    <div class="blog-left">
                                      <h1>The Crucial Significance of Personal Finance</h1>
                                      <div class="posted-on">
                                          <p>written by: <span>Mahesh Khundra</span></p>
                                          <p>posted-on: <span>August 4, 2023</span></p>
                                          <p>Category: <span>Personal Finance</span></p>
                                      </div>
                                      <div class="detail-img">
                                         <img src="assets/images/img10.jpg" alt="blog1">
                                      </div>
                                      <div class="blog-desc">
                                        <p>Personal finance is a cornerstone of a stable and fulfilling life, often overlooked but undeniably vital. It encompasses the management of your money, budgeting, savings, and investments, shaping your financial well-being and future.</p>
                                        
                                        <p>Having a sound personal finance plan empowers you to achieve your life goals, whether it's buying a home, pursuing education, or securing a comfortable retirement. It grants you the freedom to make choices without being solely driven by financial constraints.</p>
                                         
                                        <p>Furthermore, personal finance instills a sense of financial discipline and responsibility. It ensures that you live within your means, avoid excessive debt, and build a safety net for unforeseen circumstances.</p>
                                        
                                        <p>In a world where financial literacy is paramount, understanding personal finance equips you with the knowledge to make informed decisions about your money. It allows you to grow your wealth and attain financial security.</p>
                                      
                                        <p>In summary, personal finance is not just about money; it's about taking control of your future, reducing stress, and creating opportunities. It is an essential life skill that everyone should prioritize to secure their financial well-being and lead a more fulfilling life.</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                      <app-featured-articles></app-featured-articles>
                                      <app-categories></app-categories>
                                  </div>
                                </div>
                                </div>
                                </div>
                        