<div class="widget right-widget categories">
    <h3 class="widget-title">Popular Categories</h3>
    <ul>
       <li><a href="#">Travel </a></li>
       <li><a href="#">Food </a></li>
       <li><a href="#">Technology </a></li>
       <li><a href="#">Health and Wellness</a></li>
       <li><a href="#">Entertainment</a></li>
       <li><a href="#">Sports</a></li>
       <li><a href="#">History and Culture </a></li>
       <li><a href="#">Environment and Sustainability </a></li>
       <li><a href="#">Personal Finance </a></li>
       <li><a href="#">Trends and Updates</a></li>
   </ul>
  </div>
