<div class="widget left-widget categories">
    <h3 class="widget-title">Popular Categories</h3>
    <ul>
       <li><a class="nav-link" routerLink="/tech" routerLinkActive="active">Technology </a></li>
       <li><a class="nav-link" routerLink="/health" routerLinkActive="active">Health and Wellness</a></li>
       <li><a class="nav-link" routerLink="/music" routerLinkActive="active">Music</a></li>
       <li><a class="nav-link" routerLink="/history" routerLinkActive="active">History and Culture </a></li>
       <li><a class="nav-link" routerLink="/sports" routerLinkActive="active">Sports</a></li>
       <li><a class="nav-link" routerLink="/travel" routerLinkActive="active">Travel </a></li>
       <li><a class="nav-link" routerLink="/food" routerLinkActive="active">Food </a></li>
       <li><a class="nav-link" routerLink="/finance" routerLinkActive="active">Personal Finance </a></li>
   </ul>
  </div>