<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <div class="text-center w-responsive mx-auto mb-5">
        <p>Do you have any questions?</p>
    <p>Please do not hesitate to contact us directly. Our team will come back to you within a matter of time to help you.</p>
    <p>We value your input, questions, and feedback. Whether you have a suggestion, a topic request, or just want to say hello, we're here to listen.</p>    
      

   

        <!--Grid column-->
        <div class=" text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <h5>Our Address:</h5>
                    <p>Road No. 5 Jubllie Hills, near metro station, Hyderabad</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 91 7334228770</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <h5>Connect with us at our socials:</h5>
                    <p>Linkedin Blog It</p>
                    <p> Instagram  @blog_it</p>

                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <h5>Email us at:</h5>
                    <p>contact@blogit.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->
    </div>
    

</section>
<!--Section: Contact v.2-->