<div class="container">
    <div class="row">
        <h2 class="title-heading">Health & Wellness</h2>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img5.jpg" alt="post3" />
            <h3>Prioritizing Mental Health Post-COVID: A Vital Imperative</h3>
            <p>by <span>Raghav Srivastan</span></p>
            <p>
              The COVID-19 pandemic has left an indelible mark on the world,
              impacting not only physical health but also the mental well-being
              of millions. As we emerge from the pandemic's grip, the importance
              of mental health has never been more...
            </p>
            <a href="/articles/5" class="btn btn-primary"
              >Read more...</a
            >
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img6.jpg" alt="post4" />
            <h3>The Power of Hobbies in Day-to-Day Life</h3>
            <p>by <span>Gauri Khan</span></p>
            <p>
              Hobbies are not just pastimes; they are an essential component of
              a fulfilling life. In the hustle and bustle of our daily routines,
              hobbies offer a respite, bringing joy and balance to our lives.One
              of the most remarkable aspects of hobbies is...
            </p>
            <a href="/articles/6" class="btn btn-primary">Read more...</a>
          </div>
    </div>
  </div>