<div class="container">
    <div class="row">
        <h2 class="title-heading">Music Articles</h2>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img2.jpg" alt="blog1" />
            <h3>The Evolution of Pop Music in India</h3>
            <p>by <span>Mahesh Khundra</span></p>
            <p>
              Pop music in India has undergone a remarkable transformation over
              the years, reflecting the nation's diverse cultural tapestry and
              changing tastes. What was once dominated by Bollywood melodies and
              classical compositions has now embraced a contemporary sound
              that...
            </p>
            <a href="articles/2" class="btn btn-primary">Read more...</a>
          </div>
        </div>
    </div>
        

