<div class="widget right-widget recent-post">
    <h4 class="widget-title">Featured Posts</h4>
    <a href="/articles/1">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img1.jpg" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>Breaking the Chains: Challenging Patriarchy in the 21st Century</h5>
                <p>by <span>Shreya Kaur</span></p>
                <p>Posted On: September 10, 2023</p>
            </div>
        </div>
    </a>
    <a href="/articles/3">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img3.jpg" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>The AI Takeover Debate: Separating Fact from Fiction</h5>
                <p>by <span>Gauri Khan</span></p>
                <p>Posted On: September 10, 2023</p>
            </div>
        </div>
    </a>
    <a href="/articles/5">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img5.jpg" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>Prioritizing Mental Health Post-COVID: A Vital Imperative</h5>
                <p>by <span>Raghav Srivastan</span></p>
                <p>Posted On: September 10, 2023</p>
            </div>
        </div>
    </a>
    <a href="/articles/6">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img6.jpg" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>The Power of Hobbies in Day-to-Day Life</h5>
                <p>by <span>Gauri Khan</span></p>
                <p>Posted On: September 10, 2023</p>
            </div>
        </div>
    </a>
  </div>
