<section class="blog-list mtb-40">
    <div class="container">
      <h1>Article List</h1>
      <div class="row">
          <div class="col-md-8">
            <div class="col-md-12">
                <div class="blog-box">
                    <div class="row">
                    <div class="col-md-4">
                  <img src="assets/images/img1.jpg" alt="blog1">
                </div>
                <div class="col-md-8">
                    <h3>Breaking the Chains: Challenging Patriarchy in the 21st Century</h3>
                    <p>by <span>Shreya Kaur</span></p>
                    <p>Patriarchy, a deeply ingrained social system where power and authority are predominantly held by men, has persisted for centuries. While significant strides have been made towards gender equality, the vestiges of patriarchy still loom large in our society. This multifaceted...</p>
                    <a href="/articles/1" class="readmore">Read more...</a></div> </div>
            </div>
              </div>
              <div class="col-md-12">
                <div class="blog-box">
                    <div class="row">
                        <div class="col-md-4">
                  <img src="assets/images/img2.jpg" alt="blog1">
                </div>
                <div class="col-md-8">
                  <h3>The Evolution of Pop Music in India</h3>
                  <p>by <span>Mahesh Khundra</span></p>
                  <p>Pop music in India has undergone a remarkable transformation over the years, reflecting the nation's diverse cultural tapestry and changing tastes. What was once dominated by Bollywood melodies and classical compositions has now embraced a contemporary sound that...</p>
                  <a href="/articles/2" class="readmore">Read more...</a></div> </div>
                </div>
                  </div>
              <div class="col-md-12">
                <div class="blog-box">
                    <div class="row">
                        <div class="col-md-4">
                  <img src="assets/images/img3.jpg" alt="blog1">
                </div>
                <div class="col-md-8">
                <h3>The AI Takeover Debate: Separating Fact from Fiction</h3>
            <p>by <span>Gauri Khan</span></p>
            <p>The notion of artificial intelligence (AI) taking over the world is a topic that has intrigued, and sometimes frightened, people for decades. While science fiction has often portrayed a dystopian future where AI rules with an iron fist, the reality is... </p>
            <a href="/articles/3" class="readmore">Read more...</a></div> </div>
                </div>
                  </div>
              <div class="col-md-12">
                <div class="blog-box">
                    <div class="row">
                        <div class="col-md-4">
                  <img src="assets/images/img4.jpg" alt="blog1">
                </div>
                <div class="col-md-8">
                    <h3>Ancient Indian Fashion: Elegance Through the Ages</h3>
                    <p>by <span>Kusum Iyengar</span></p>
                    <p>Ancient Indian fashion stands as a testament to the rich cultural heritage and artistic sensibilities that have thrived on the Indian subcontinent for millennia. Across different periods and regions, Indian clothing has embodied both opulence...</p>
                    <a href="/articles/4" class="readmore">Read more...</a></div> </div>
                </div>
                  </div>
              <div class="col-md-12">
                <div class="blog-box">
                    <div class="row">
                        <div class="col-md-4">
                  <img src="assets/images/img5.jpg" alt="blog1">
                </div>
                <div class="col-md-8">
                    <h3>Prioritizing Mental Health Post-COVID: A Vital Imperative</h3>
            <p>by <span>Raghav Srivastan</span></p>
            <p>The COVID-19 pandemic has left an indelible mark on the world, impacting not only physical health but also the mental well-being of millions. As we emerge from the pandemic's grip, the importance of mental health has never been more... </p>
            <a href="/articles/5" class="readmore">Read more...</a></div> </div>
                </div>
                  </div>
              <div class="col-md-12">
                <div class="blog-box">
                    <div class="row">
                        <div class="col-md-4">
                  <img src="assets/images/img6.jpg" alt="blog1">
                </div>
                <div class="col-md-8">
                    <h3>The Power of Hobbies in Day-to-Day Life</h3>
                    <p>by <span>Gauri Khan</span></p>
                    <p>Hobbies are not just pastimes; they are an essential component of a fulfilling life. In the hustle and bustle of our daily routines, hobbies offer a respite, bringing joy and balance to our lives.One of the most remarkable aspects of hobbies is...</p>
                    <a href="/articles/6" class="readmore">Read more...</a></div> </div>
                </div>
                  </div>
                  <div class="col-md-12">
                    <div class="blog-box">
                        <div class="row">
                            <div class="col-md-4">
                      <img src="assets/images/img7.jpg" alt="blog1">
                    </div>
                    <div class="col-md-8">
                        <h3>Legacy of Kabaddi in India</h3>
                        <p>by <span>Kusum Iyengar</span></p>
                        <p>Kabaddi, a sport that traces its origins back to ancient India, has become an integral part of the country's sporting culture. With a history spanning several centuries, Kabaddi has not only survived but thrived, evolving from a traditional past...</p>
                        <a href="/articles/7" class="readmore">Read more...</a></div> </div>
                    </div>
                      </div>
                      <div class="col-md-12">
                        <div class="blog-box">
                            <div class="row">
                                <div class="col-md-4">
                          <img src="assets/images/img8.jpg" alt="blog1">
                        </div>
                        <div class="col-md-8">
                            <h3>Modern Food Habits in the 21st Century</h3>
                            <p>by <span>Gauri Khan</span></p>
                            <p>In the 21st century, our food habits have undergone a significant transformation. The fast-paced, digital era has brought about a shift in the way we grow, prepare, and consume food. Convenience, technology, and health consciousness have become...</p>
                            <a href="/articles/8" class="readmore">Read more...</a></div> </div>
                        </div>
                          </div>
                          <div class="col-md-12">
                            <div class="blog-box">
                                <div class="row">
                                    <div class="col-md-4">
                              <img src="assets/images/img9.jpg" alt="blog1">
                            </div>
                            <div class="col-md-8">
                                <h3>Journey Beyond the Horizon: The Joys of Travel and Its Unforgettable Experiences</h3>
                                <p>by <span>Raghav Srivastan</span></p>
                                <p>Traveling is a wondrous adventure, a journey that unveils the world's treasures, cultures, and unforgettable experiences. Whether you wander near or far, every voyage offers a unique opportunity for self-discovery and growth</p>
                                <a href="/articles/9" class="readmore">Read more...</a></div> </div>
                            </div>
                              </div>
                              <div class="col-md-12">
                                <div class="blog-box">
                                    <div class="row">
                                        <div class="col-md-4">
                                  <img src="assets/images/img10.jpg" alt="blog1">
                                </div>
                                <div class="col-md-8">
                                    <h3>The Crucial Significance of Personal Finance</h3>
                                    <p>by <span>Mahesh Khundra</span></p>
                                    <p>Personal finance is a cornerstone of a stable and fulfilling life, often overlooked but undeniably vital. It encompasses the management of your money, budgeting, savings, and investments, shaping your financial well-being and future...</p>
                                    <a href="/articles/10" class="readmore">Read more...</a></div> </div>
                                </div>
                                  </div>
          </div>
          <div class="col-md-4">
            <app-featured-articles></app-featured-articles>
            <app-categories></app-categories>  
        </div>
      </div>
    </div>
  </section>
